@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.test-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 470px;
    height: 70px;
    border-radius: 4px;
    background: #1F27F5;
    gap: 10px;
}

.login-text-block {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}
